.customer-list-header {
    border-bottom: solid 2px white;
}

.customer-list-panel {
    position: absolute;
    overflow-y: scroll;
    height: 90%;
}

.text-centered {
    margin: 0;
    text-align: center;
}
